DB_HOST=db
DB_PORT=3306
DB_NAME=accommodation
DB_USER=accommodation_user
DB_PASSWORD=change_me

SPRING_LOCAL_PORT=8080
SPRING_DOCKER_PORT=8080

JWT_SECRET=change_me_to_a_long_random_secret
JWT_EXPIRATION=86400000

STRIPE_SECRET_KEY=sk_test_change_me